AASES-Project/force-app/main/default/flows/Automated_Evaluation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Answer_Sheet</name>
        <label>Evaluate Answer Sheet</label>
        <locationX>176</locationX>
        <locationY>359</locationY>
        <actionName>AIEvaluationService.evaluateAnswerSheet</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>answerSheetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <name>evaluationResult</name>
            <assignToReference>Evaluation_Result</assignToReference>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Marking_Sheet</name>
        <label>Create Marking Sheet</label>
        <locationX>176</locationX>
        <locationY>479</locationY>
        <actionName>EvaluationManager.createMarkingSheet</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>answerSheetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
            <name>evaluationResult</name>
            <value>
                <elementReference>Evaluation_Result</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <name>markingSheet</name>
            <assignToReference>Marking_Sheet_Record</assignToReference>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Evaluation_Notification</name>
        <label>Send Evaluation Notification</label>
        <locationX>176</locationX>
        <locationY>599</locationY>
        <actionName>Send_Evaluation_Complete_Email</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>0H73j0000008OlJCAU</stringValue>
            </value>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <assignments>
        <name>Update_Answer_Sheet_Status</name>
        <label>Update Answer Sheet Status</label>
        <locationX>176</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Evaluated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Evaluation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Score__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Evaluation_Result.totalScore</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Evaluation_Success</name>
        <label>Check Evaluation Success</label>
        <locationX>176</locationX>
        <locationY>119</locationX>
        <defaultConnector>
            <targetReference>Update_Answer_Sheet_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Evaluation_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluation_Result.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Evaluation_Error</targetReference>
            </connector>
            <label>Evaluation Failed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Confidence_Score</name>
        <label>Check Confidence Score</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>End_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>High Confidence</defaultConnectorLabel>
        <rules>
            <name>Low_Confidence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Evaluation_Result.confidenceScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>70</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Approval_Request</targetReference>
            </connector>
            <label>Low Confidence</label>
        </rules>
    </decisions>
    <description>Automated evaluation flow that processes answer sheets using AI and creates marking sheets</description>
    <formulas>
        <name>Evaluation_Result</name>
        <dataType>Object</dataType>
        <expression>Evaluate_Answer_Sheet.evaluationResult</expression>
    </formulas>
    <formulas>
        <name>Marking_Sheet_Record</name>
        <dataType>Object</dataType>
        <expression>Create_Marking_Sheet.markingSheet</expression>
    </formulas>
    <interviewLabel>Automated Evaluation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automated Evaluation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Handle_Evaluation_Error</name>
        <label>Handle Evaluation Error</label>
        <locationX>400</locationX>
        <locationY>239</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Evaluation_Result.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>AnswerSheet__c</object>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Create_Approval_Request</name>
        <label>Create Approval Request</label>
        <locationX>400</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>AnswerSheet__c</object>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Evaluation_Success</targetReference>
        </connector>
        <object>AnswerSheet__c</object>
        <recordTriggerType>CreateOrUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Evaluation_Result</name>
        <dataType>Object</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIEvaluationService.EvaluationResult</objectType>
    </variables>
    <variables>
        <name>Marking_Sheet_Record</name>
        <dataType>Object</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MarkingSheet__c</objectType>
    </variables>
</Flow>