AASES-Project/force-app/main/default/flows/Bulk_Processing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Process_Bulk_Evaluation</name>
        <label>Process Bulk Evaluation</label>
        <locationX>176</locationX>
        <locationY>239</locationY>
        <actionName>EvaluationManager.processBulkAnswerSheets</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>answerSheetIds</name>
            <value>
                <elementReference>Selected_Answer_Sheets</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <name>bulkResult</name>
            <assignToReference>Bulk_Processing_Result</assignToReference>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_Bulk_Report</name>
        <label>Generate Bulk Report</label>
        <locationX>176</locationX>
        <locationY>359</locationY>
        <actionName>Create_Bulk_Evaluation_Report</actionName>
        <actionType>create</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <object>Bulk_Evaluation_Report__c</object>
        <inputParameters>
            <name>Name</name>
            <value>
                <stringValue>Bulk Evaluation Report - {!$Flow.CurrentDateTime}</stringValue>
            </value>
            <name>Processed_By__c</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
            <name>Total_Records__c</name>
            <value>
                <elementReference>Bulk_Processing_Result.totalProcessed</elementReference>
            </value>
            <name>Successful__c</name>
            <value>
                <elementReference>Bulk_Processing_Result.successful</elementReference>
            </value>
            <name>Failed__c</name>
            <value>
                <elementReference>Bulk_Processing_Result.failed</elementReference>
            </value>
            <name>Processing_Time__c</name>
            <value>
                <elementReference>Bulk_Processing_Result.processingTime</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <name>reportId</name>
            <assignToReference>Bulk_Report_Id</assignToReference>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Bulk_Completion_Email</name>
        <label>Send Bulk Completion Email</label>
        <locationX>176</locationX>
        <locationY>479</locationY>
        <actionName>Send_Bulk_Processing_Email</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>0H73j0000008OlTCAU</stringValue>
            </value>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <assignments>
        <name>Update_Processing_Status</name>
        <label>Update Processing Status</label>
        <locationX>176</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>Processing_Start_Time</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Processing_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Selection_Size</name>
        <label>Check Selection Size</label>
        <locationX>176</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Process_Bulk_Evaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid Selection</defaultConnectorLabel>
        <rules>
            <name>Too_Many_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Bulk_Limit_Error</targetReference>
            </connector>
            <label>Too Many Records</label>
        </rules>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_No_Selection_Error</targetReference>
            </connector>
            <label>No Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Processing_Result</name>
        <label>Check Processing Result</label>
        <locationX>176</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Generate_Bulk_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Processing Complete</defaultConnectorLabel>
        <rules>
            <name>Processing_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bulk_Processing_Result.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Handle_Bulk_Error</targetReference>
            </connector>
            <label>Processing Failed</label>
        </rules>
    </decisions>
    <description>Bulk processing flow for evaluating multiple answer sheets at once</description>
    <formulas>
        <name>Selected_Count</name>
        <dataType>Number</dataType>
        <expression>Selected_Answer_Sheets.size</expression>
    </formulas>
    <formulas>
        <name>Processing_End_Time</name>
        <dataType>DateTime</dataType>
        <expression>$Flow.CurrentDateTime</expression>
    </formulas>
    <interviewLabel>Bulk Processing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk Processing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Handle_Bulk_Error</name>
        <label>Handle Bulk Error</label>
        <locationX>400</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>Bulk_Processing_Result.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Bulk_Evaluation_Report__c</object>
        <inputReference>Generate_Bulk_Report</inputReference>
    </recordUpdates>
    <screens>
        <name>Show_Bulk_Limit_Error</name>
        <label>Show Bulk Limit Error</label>
        <locationX>400</locationX>
        <locationY>719</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <sections>
            <id>Bulk_Limit_Section</id>
            <label>Bulk Processing Limit Exceeded</label>
            <fields>
                <name>Bulk_Limit_Message</name>
                <fieldType>DisplayText</fieldType>
                <label>Bulk Limit Message</label>
                <isRequired>false</isRequired>
            </fields>
        </sections>
    </screens>
    <screens>
        <name>Show_No_Selection_Error</name>
        <label>Show No Selection Error</label>
        <locationX>600</locationX>
        <locationY>719</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <sections>
            <id>No_Selection_Section</id>
            <label>No Records Selected</label>
            <fields>
                <name>No_Selection_Message</name>
                <fieldType>DisplayText</fieldType>
                <label>No Selection Message</label>
                <isRequired>false</isRequired>
            </fields>
        </sections>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Processing_Status</targetReference>
        </connector>
        <object>CustomObject__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Selected_Answer_Sheets</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bulk_Processing_Result</name>
        <dataType>Object</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EvaluationManager.BulkResult</objectType>
    </variables>
    <variables>
        <name>Processing_Start_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Processing_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>