AASES-Project/force-app/main/default/flows/Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Student_Email</name>
        <label>Send Student Email</label>
        <locationX>176</locationX>
        <locationY>239</locationY>
        <actionName>Send_Results_Email</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>0H73j0000008OlOCAU</stringValue>
            </value>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.AnswerSheet__r.CreatedById</elementReference>
            </value>
        </inputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Admin_Notification</name>
        <label>Send Admin Notification</label>
        <locationX>176</locationX>
        <locationY>359</locationY>
        <actionName>Send_Admin_Alert</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>0H73j0000008OlPCAU</stringValue>
            </value>
            <name>recipientId</name>
            <value>
                <elementReference>$User.SystemAdministratorId</elementReference>
            </value>
        </inputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Followup_Task</name>
        <label>Create Followup Task</label>
        <locationX>176</locationX>
        <locationY>479</locationY>
        <actionName>Create_Followup_Task_Action</actionName>
        <actionType>create</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <object>Task</object>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Review Evaluation Results - {!$Record.AnswerSheet__r.Name__c}</stringValue>
            </value>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.AnswerSheet__r.CreatedById</elementReference>
            </value>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
            <name>Priority</name>
            <value>
                <stringValue>Normal</stringValue>
            </value>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <decisions>
        <name>Check_Score_Threshold</name>
        <label>Check Score Threshold</label>
        <locationX>176</locationX>
        <locationY>119</locationY>
        <defaultConnector>
            <targetReference>Send_Student_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal Score</defaultConnectorLabel>
        <rules>
            <name>High_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalMarks__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Congratulations_Email</targetReference>
            </connector>
            <label>High Score</label>
        </rules>
        <rules>
            <name>Low_Score</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalMarks__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>40</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Improvement_Email</targetReference>
            </connector>
            <label>Low Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Exam_Type</name>
        <label>Check Exam Type</label>
        <locationX>176</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Send_Admin_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Regular Exam</defaultConnectorLabel>
        <rules>
            <name>Final_Exam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnswerSheet__r.ExamType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Exam</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Grade_Report</targetReference>
            </connector>
            <label>Final Exam</label>
        </rules>
    </decisions>
    <description>Notification flow that sends emails and creates tasks when marking sheets are completed</description>
    <formulas>
        <name>Score_Percentage</name>
        <dataType>Number</dataType>
        <expression>($Record.TotalMarks__c / 100) * 100</expression>
    </formulas>
    <interviewLabel>Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_Congratulations_Email</name>
        <label>Send Congratulations Email</label>
        <locationX>400</locationX>
        <locationY>239</locationY>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>0H73j0000008OlQCAU</stringValue>
            </value>
            <field>TargetObjectId</field>
            <value>
                <elementReference>$Record.AnswerSheet__r.CreatedById</elementReference>
            </value>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Send_Improvement_Email</name>
        <label>Send Improvement Email</label>
        <locationX>600</locationX>
        <locationY>239</locationY>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <stringValue>0H73j0000008OlRCAU</stringValue>
            </value>
            <field>TargetObjectId</field>
            <value>
                <elementReference>$Record.AnswerSheet__r.CreatedById</elementReference>
            </value>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Grade_Report</name>
        <label>Create Grade Report</label>
        <locationX>400</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Grade Report - {!$Record.AnswerSheet__r.Name__c}</stringValue>
            </value>
            <field>Student__c</field>
            <value>
                <elementReference>$Record.AnswerSheet__r.CreatedById</elementReference>
            </value>
            <field>Exam_Type__c</field>
            <value>
                <elementReference>$Record.AnswerSheet__r.ExamType__c</elementReference>
            </value>
            <field>Total_Marks__c</field>
            <value>
                <elementReference>$Record.TotalMarks__c</elementReference>
            </value>
            <field>Grade__c</field>
            <value>
                <elementReference>Score_Percentage</elementReference>
            </value>
        </inputAssignments>
        <object>Grade_Report__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Score_Threshold</targetReference>
        </connector>
        <object>MarkingSheet__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>